<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr6_r700_gazebo">

  <!-- Include the raw clean URDF (primitive cylinders/boxes) -->
  <xacro:include filename="$(find kuka_kr6_gazebo)/urdf/kr6_r700_clean.urdf" />

  <!-- Gazebo ROS Control Plugin (Noetic) -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- Transmission for each joint (required for gazebo_ros_control) -->
  <xacro:macro name="kuka_transmission" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_actuator">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:kuka_transmission joint_name="joint_1"/>
  <xacro:kuka_transmission joint_name="joint_2"/>
  <xacro:kuka_transmission joint_name="joint_3"/>
  <xacro:kuka_transmission joint_name="joint_4"/>
  <xacro:kuka_transmission joint_name="joint_5"/>
  <xacro:kuka_transmission joint_name="joint_6"/>

  <!-- Physics materials -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="link_1">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_2">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_3">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_4">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_5">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_6">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>
