<?xml version="1.0"?>
<model>
  <name>kr210_prime</name>
  <version>1.0</version>
  <sdf version="1.9">model.urdf</sdf>

  <author>
    <name>ROS-Industrial</name>
    <email>info@ros-industrial.org</email>
  </author>

  <description>
    KUKA KR 210 R3100 (KR 210 L150 variant) converted for Gazebo simulation.
  </description>
</model>
