<?xml version="1.0"?>
<model>
  <name>kuka_kr8_r2100</name>
  <version>1.0</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Generated</name>
    <email>admin@example.com</email>
  </author>

  <description>
    KUKA KR 8 R2100 arc HW arm for Refuel Mission
  </description>
</model>
